{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href='{% static "css/main.css" %}'>
</head>
<body>
<section class="container-fluid main_section ">
        <div class="container wrapper_table">
            <div class="row">
                <div class="card color_blk">
                    <div class="card-body">
                        <h4 class="card-title">Log in to your account</h4>
                        <form method="post">
                        {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}">

                            {{ form}}

                            <button type="submit" class="main_btn btn">Log in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</section>
</body>
</html>