{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Группы</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
 <section class="container-fluid main_section ">
        <div class="container wrapper_table">
            <div class="row">
                <p>You are logged out!</p>
                <a  href="{% url 'core:home' %}">Log in again</a>
            </div>
        </div>
 </section>
</body>
</html>