{% extends 'base.html' %}
{% block title %}Main page{% endblock %}
{% load custom_tags_and_filter%}
{%block content%}
    <section class="container-fluid main_section ">
        <div class="container wrapper_table">
            <div class="row">
                    <h1 class="w-100">{{ mas|even_numb|join:", " }}</h1>
                    <h1 class="w-100">{{ some_str|count_words}}</h1>
                <div class="w-100 row">
                    {% if user.is_authenticated %}
                        <div>
                            <div class="color_blk">Пользователь: {{ user.first_name }}</div>
                        </div>
                        <div class="col-md-4 wrapper_btn">
                            <a href="{% url 'core:logout'%}" class="main_btn btn">Выход</a>
                         </div>
                    {% endif %}
                    {% if not user.is_authenticated %}
                         <div class="col-md-4 wrapper_btn">
                        <a href="{% url 'core:registration-user' %}" class="main_btn btn">Регистарция</a>
                        </div>
                        <div class="col-md-4 wrapper_btn">
                            <a href="{% url 'core:login' %}" class="main_btn btn">Вход</a>
                        </div>
                    {% endif %}
                </div>
                <h1 >Список групп</h1>
                <table class="w-100">
                    <tr>
                        <th>Название группы</th>
                        <th>Количество студентов</th>
                        <th>Средний возраст группы</th>
                        <th>Мин возраст</th>
                        <th>Макс возраст</th>
                        <th>Препод</th>
                    </tr>
                     {% for some_info in info_about_group %}
                        <tr>
                             <td>{{some_info.name}}</td>
                            <td>{{ some_info.student_count}}</td>
                            <td>{{ some_info.avg_age|default:"-"}}</td>
                            <td>{{ some_info.min_age|default:"-"}}</td>
                            <td>{{ some_info.max_age|default:"-"}}</td>
                            <td>{{ some_info.teacher }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="col-md-4 wrapper_btn">
                    <a href="{% url 'core:create-group' %}" class="main_btn btn">Добавить Группу</a>
                </div>
                <div class="col-md-4 wrapper_btn">
                    <a href="{% url 'core:create-student' %}" class="main_btn btn">Добавить Студента</a>
                </div>
                <div class="col-md-4 wrapper_btn">
                    <a href="{% url 'core:students-list'%}" class="main_btn btn">Список студентов</a>
                </div>
            </div>
            <div>
                {% random_teacher 5 %}
            </div>
             <div>
                 {% query_filter groups name='научная литература' as  filtered_groups %}
                 {% for group in filtered_groups  %}
                    <h1>{{ group.name }}</h1>
                 {% endfor %}
            </div>
            </div>
    </section>
{%endblock%}