{% extends 'base.html' %}
{% block title %}Registration{% endblock %}
{%block content%}
    <div class="container-fluid main_section">
        <div class="container  ">
            <div class="row">
                 <form method="POST">{% csrf_token %}
                    {{form}}
                    <button type="submit" class="main_btn">Создать</button>
                </form>
            </div>
        </div>
    </div>
{%endblock%}