{% extends 'base.html' %}
{% block title %}Send mail{% endblock %}
{%block content%}
<section class="container-fluid main_section">
    <div class="container">
        <div class="row">
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <div class="form-group">
                  <button type="submit" class="main_btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>
{%endblock%}
