<h1 >Список учителей</h1>
                <table class="w-100">
                    <tr>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Группа</th>
                    </tr>
                     {% for teacher in teachers %}
                        <tr>
                             <td>{{ teacher.first_name }}</td>
                            <td>{{ teacher.last_name}}</td>
                            <td>{{ teacher.teacher_groups.name|default:'-'}}</td>
                        </tr>
                    {% endfor %}
                </table>