{% extends 'base.html' %}
{% block title %}Users page{% endblock %}
{%block content%}
{% if user.is_authenticated %}
<section class="container-fluid main_section">
    <div class="container">
        <div class="row">
            <div class="w-100 row">
                    <div>
                        <div class="color_blk">Пользователь: {{ user.first_name }}</div>
                    </div>
                    <div class="col-md-4 wrapper_btn">
                        <a href="{% url 'core:logout'%}" class="main_btn btn">Выход</a>
                     </div>
            </div>
            <h1 >Список груп</h1>
                <table class="w-100">
                    <tr>
                        <th>Название группы</th>
                        <th>Студенты</th>
                    </tr>

                     {% for group in user.teacher_groups.all %}
                        <tr>
                            <td>{{ group.name}}</td>
                                <td>{% for student in group.students.all %}
                                    {{ student.first_name }} {{ student.last_name }}<br>
                                    {% endfor %}
                                </td>
                        </tr>
                    {% endfor %}
                </table>
        </div>
    </div>
</section>
{% endif %}
{%endblock%}