
.main_section {
    background: #ddffdd;
    min-height: 100vh;
}
.wrapper_table {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
}
h1{
    margin-bottom: 50px;
    color: black;
}
table{
    border-collapse: collapse;
}
td, th {
    padding: 10px;
    border: 1px solid black;
    color: black;
}
th {
    background: #8FBC8F	  ;
}
td{
    background: #ceffbc;
}

p{
    color: white;
    font-size: 20px;
}
.wrapper_form{
    margin-bottom: 20px;
    text-align: left;
}
h1{
    text-align: center;
}
.main_btn {
    position: relative;
    padding: 10px 35px;
    color:white;
    background: #8FBC8F	;
    cursor: pointer;
    transition: all 0.3s linear;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
.main_btn:hover {
    color:#8FBC8F;
    background: white;
    box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.54);
    border-radius: 5px;
}

.filter {
  margin: 20px auto;
  padding: 25px;
  width: 300px;
  background-color: #8FBC8F;
  border-radius: 3px;
}
.filter-interval {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-interval label {
  width: 50%;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}
input:focus {
    outline: none;
}

.filter-interval label:last-child {
  text-align: right;
}

.filter-interval input {
  margin-left: 8px;
  width: 80px;
  height: 38px;
  border-radius: 2px;
  border: none;
  font: inherit;
  color: black;
  text-align: center;
  background-color: #ddffdd;
}

.wrapper_btn{
    padding: 30px 0;
}
.color_blk {
    color: black;
}
